In [7]:
import pandas as pd
from scipy import stats as st
data = pd.read_csv('.\datasets\Sales_Promotion.csv')
data.head()

   Sales_Out1  Sales_Out2
0        1217        1731
1        1416        1420
2        1381        1065
3        1413        1612
4        1800        1361

In [8]:
so1=data.Sales_Out1
so2=data.Sales_Out2
soM1=so1.mean()
soM2=so2.mean()
v = st.ttest_ind(so1,so2)

if(v[1]>0.05):
    print('means are similar, promotional activity did not work out \n Mean of first activity: {} \n Mean of second activity: {}'.format(soM1,soM2))
    
else:
    print('means differ')

means are similar, promotional activity did not work out
 Mean of first activity: 1570.25
 Mean of second activity: 1438.4166666666667