In [8]:
import pandas as pd


data = pd.read_table('datasets/SMSSpamCollection',sep='\t', header=None, names = ['label','sms'])
data.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
data['label']=data.label.map({'ham':0, 'spam':1})
print(data.shape)
data.head()

(5572, 2)

   label                                                sms
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [10]:
documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']

lower_case_documents = []

for i in documents:
    lower_case_documents.append(i.lower())
lower_case_documents

['hello, how are you!',
 'win money, win from home.',
 'call me now.',
 'hello, call hello you tomorrow?']

In [13]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
sans_punctuation_doc=[]

for i in lower_case_documents:
    sans_punctuation_doc.append(i.translate(str.maketrans('', '', string.punctuation)))
sans_punctuation_doc

['hello how are you',
 'win money win from home',
 'call me now',
 'hello call hello you tomorrow']

In [16]:
pre_processed_doc = []

for i in sans_punctuation_doc:
    pre_processed_doc.append(i.split(' '))
pre_processed_doc

[['hello', 'how', 'are', 'you'],
 ['win', 'money', 'win', 'from', 'home'],
 ['call', 'me', 'now'],
 ['hello', 'call', 'hello', 'you', 'tomorrow']]

In [22]:
from collections import Counter
import pprint
freq_list=[]

for i in pre_processed_doc:
    freq_cnt = Counter(i)
    freq_list.append(freq_cnt)
    pprint.pprint(freq_cnt)

Counter({'hello': 1, 'how': 1, 'are': 1, 'you': 1})
Counter({'win': 2, 'money': 1, 'from': 1, 'home': 1})
Counter({'call': 1, 'me': 1, 'now': 1})
Counter({'hello': 2, 'call': 1, 'you': 1, 'tomorrow': 1})

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cnt_vct = CountVectorizer()
cnt_vct

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [37]:
cnt_vct.fit(documents)
cnt_vct.get_feature_names()

['are',
 'call',
 'from',
 'hello',
 'home',
 'how',
 'me',
 'money',
 'now',
 'tomorrow',
 'win',
 'you']

In [38]:
doc_arr = cnt_vct.transform(documents).toarray()
doc_arr

array([[1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0],
       [0, 1, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1]], dtype=int64)

In [40]:
freq_mat = pd.DataFrame(doc_arr, columns=cnt_vct.get_feature_names())
print(freq_mat.shape)
freq_mat

(4, 12)

   are  call  from  hello  home  how  me  money  now  tomorrow  win  you
0    1     0     0      1     0    1   0      0    0         0    0    1
1    0     0     1      0     1    0   0      1    0         0    2    0
2    0     1     0      0     0    0   1      0    1         0    0    0
3    0     1     0      2     0    0   0      0    0         1    0    1

In [43]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data['sms'],data['label'], random_state=1)
cnt_vct = CountVectorizer()
training_data = cnt_vct.fit_transform(x_train)
test_data = cnt_vct.transform(x_test)

training_data.shape

(4179, 7456)