## Ten individuals have participated in a diet program for weight loss. Weights before and after the program is given. Is the program successful?

In [1]:
import pandas as pd
from scipy import stats as st

data=pd.read_csv('.\datasets\Diet.csv')
data.head()

   Subject  Before  After
0        1      88     85
1        2      97     88
2        3     112    100
3        4      91     86
4        5      85     79

In [2]:
bfr=data.Before
aftr=data.After

v = st.ttest_rel(bfr,aftr)
if(v[1]>0.05):
    print("The mean wt is similar, no change observed. Diet plan failed")
else:
    print("Means are different. Diet plan worked", bfr.mean(), aftr.mean())

Means are different. Diet plan worked 105.2 97.2

In [3]:
v[1]

2.416349183463257e-05