## Tyre test with Paired T test
#### Two brands of tyres are used in the rear of an automobile. One brand is used for one side randomly. Compare mean lifetime
#### import the data

In [1]:
import pandas as pd

data = pd.read_csv('./datasets/Tires.csv')
data.head()

   Brand_1  Brand_2
0    36925    34318
1    45300    42280
2    36240    35500
3    32100    31950
4    37210    38015

In [2]:
b1 = data.Brand_1
b2 = data.Brand_2

#### For performing a paired T test, we need ttest_rel() from stats in scipy

In [3]:
from scipy import stats as st

v = st.ttest_rel(b1, b2)

#### if